*{
    margin: 0%;
    padding: 0%;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  color: #333;
}

header {
  background: #d6660b;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
  font-weight: bold;
}

/* MAIN CONTAINER */
.container {
  width: 100%;
  margin:auto;
  text-align: center;
  
}
.brand{
    font-size: 40px;
    font-weight: bold;
    
}

/*  CARD (COMMON STYLE)  */
.card {
  background: white;
  padding: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1); /* x-axis, y-axis, blur, color */
  margin-left: 6px;
  margin-right: 6px;

}

/*HERO IMAGE  */
.hero-img {
  width: 100%;
  max-width: 280px; 
  padding-bottom: 10px;
  border-radius: 8px;
  display: block; /* To center the image */
  margin: 0; 
  
}

/* TITLES */
h2, h3 {
  margin-bottom: 10px;
    /* color: #d6660b; */
    color: #d6660b;
    background-color: #1b1b1b;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    
}

h3{
    margin-top: 10px;
    background-color: antiquewhite;
}

ul {
  margin-left: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
  padding: 12px;
  background: #e8e8e8;
  border-radius: 8px;
  font-size: 14px;
}
